In [1]:
from sqlalchemy import create_engine 
from sqlalchemy import MetaData,Table,Column,Integer,String,Text
from sqlalchemy.orm import mapper
import requests
import ijson 
import json
import pandas as pd
from datetime import datetime
#model entites for movies platying in theatre 
engine=create_engine('mysql+pymysql://root:oracle@localhost/apisamplecalls',echo=True)
# connection  = engine.connect()
# connection.execute("drop table playinginmovieontv if exists")
# connection.execute("drop table playingintheatre if exists")
metatable  = MetaData()
playinginmovieontv  = Table('playinginmovieontv',metatable,\
                                           Column('id',Integer,primary_key=True),
                                           Column('tmsId',String(25)),
                                           Column('rootId',String(25)),
                                           Column('title',String(50)),
                                           Column('releaseyear',String(50)),
                                           Column('genrestype',String(15)),
                                           Column('theatreorchannels',String(150)),
                                           Column('description',Text))
metatable2  = MetaData()
playingintheatre  = Table('playingintheatre',metatable2,\
                                           Column('id',Integer,primary_key=True),
                                           Column('tmsId',String(25)),
                                           Column('rootId',String(25)),
                                           Column('title',String(50)),
                                           Column('releaseyear',String(50)),
                                           Column('genrestype',String(15)),
                                           Column('theatreorchannels',String(150)),
                                           Column('description',Text))
class PlayingInTheatre():
    
    def __init__(self,id,tmsId,rootId,title,releaseyear,genrestype,theatreorchannels,description):
        self.id=id
        self.tmsId  =tmsId
        self.rootId = rootId
        self.title=title 
        self.releaseyear=releaseyear
        self.genrestype=genrestype
        self.theatreorchannels=theatreorchannels
        self.description=description # this can either  be based  on theatre or channel

#model entites for movies to be aired on tv 
class PlayingInMovieOnTv():
    
    def __init__(self,id,tmsId,rootId,title,releaseyear,genrestype,theatreorchannels,description):
        self.id=id
        self.tmsId=tmsId
        self.rootId=rootId
        self.title=title  
        self.releaseyear=releaseyear
        self.genrestype=genrestype # this can either be based on theatre or channel
        self.theatreorchannels=theatreorchannels
        self.description=description
        
print('tables are about to be created ...........') 
#create tables for movies to be aired on tv
mapper(PlayingInMovieOnTv,playinginmovieontv)
metatable.create_all(engine)
#create tables for theatre
mapper(PlayingInTheatre,playingintheatre)
metatable2.create_all(engine)
print('tables created ....')

running .............
tables are about to be created ...........
2020-11-29 13:01:55,677 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-11-29 13:01:55,679 INFO sqlalchemy.engine.base.Engine {}
2020-11-29 13:01:55,922 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-11-29 13:01:55,925 INFO sqlalchemy.engine.base.Engine {}
2020-11-29 13:01:56,013 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-11-29 13:01:56,014 INFO sqlalchemy.engine.base.Engine {}
2020-11-29 13:01:56,017 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-11-29 13:01:56,019 INFO sqlalchemy.engine.base.Engine {}
2020-11-29 13:01:56,125 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-11-29 13:01:56,126 INFO sqlalchemy.engine.base.Engine {}
2020-11-29 13:01:56,143 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-11-29 13:01:56,146 INFO sqlalchemy.engine.base.Engine {}
2020-11-29 13:01:56,152 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-11-29 13:01:56,153 INFO sqlalchemy.engine.base.Engine {}
2020-11-29 13:01:56,180 INFO sqlalchemy.engine.base.Engine DESCRIBE `playinginmovieontv`
2020-11-29 13:01:56,182 INFO sqlalchemy.engine.base.Engine {}
2020-11-29 13:01:56,457 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-11-29 13:01:56,461 INFO sqlalchemy.engine.base.Engine
CREATE TABLE playinginmovieontv (
	id INTEGER NOT NULL AUTO_INCREMENT,
	`tmsId` VARCHAR(25),
	`rootId` VARCHAR(25),
	title VARCHAR(50),
	releaseyear VARCHAR(50),
	genrestype VARCHAR(15),
	theatreorchannels VARCHAR(150),
	description TEXT,
	PRIMARY KEY (id)
)


2020-11-29 13:01:56,463 INFO sqlalchemy.engine.base.Engine {}
2020-11-29 13:01:59,801 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-29 13:01:59,808 INFO sqlalchemy.engine.base.Engine DESCRIBE `playingintheatre`
2020-11-29 13:01:59,810 INFO sqlalchemy.engine.base.Engine {}
2020-11-29 13:01:59,813 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-11-29 13:01:59,817 INFO sqlalchemy.engine.base.Engine
CREATE TABLE playingintheatre (
	id INTEGER NOT NULL AUTO_INCREMENT,
	`tmsId` VARCHAR(25),
	`rootId` VARCHAR(25),
	title VARCHAR(50),
	releaseyear VARCHAR(50),
	genrestype VARCHAR(15),
	theatreorchannels VARCHAR(150),
	description TEXT,
	PRIMARY KEY (id)
)


2020-11-29 13:01:59,820 INFO sqlalchemy.engine.base.Engine {}
2020-11-29 13:02:00,545 INFO sqlalchemy.engine.base.Engine COMMIT
tables created ....